.my-input {
  display: flex;
  flex-direction: column;
}

.my-input:not(:last-child) {
  margin-bottom: 20px;
}

.my-input__label {
  margin-bottom: 10px;
  font-size: 10px;
  line-height: calc(12 / 10);
  color: #8b8b8b;
}

.my-input__input {
  background: #2f2f2f;
  border: none;
  border-radius: 8px;
  padding: 15px;
  color: #fff;
  font-size: 13px;
  line-height: calc(16 / 13);
  transition: opacity 0.3s ease;
}

.my-input__input:hover {
  opacity: 0.5;
}
