.portfolio {
  max-width: 1140px;
  margin: 0 auto 125px auto;
  padding: 0 10px;
  color: #fff;
}

.portfolio__title {
  color: #8b8b8b;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 50px 0;
}

.portfolio__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.portfolio__item {
  transition: opacity 0.3s ease-in-out;
}

.portfolio__item:hover {
  cursor: pointer;
  opacity: 0.5;
}

.portfolio__item:not(:last-child) {
  padding-bottom: 19px;
  margin-bottom: 20px;
  border-bottom: 1px solid #424242;
}

.portfolio__link {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio__text {
  font-size: 30px;
  line-height: calc(50 / 30);
  margin: 0;
}

@media screen and (max-width: 950px) {
  .portfolio {
    max-width: 668px;
  }
  .portfolio__item:not(:last-child) {
    border-bottom: 1px solid #e6e6e6;
  }
  .portfolio__text {
    font-size: 28px;
  }
}

@media screen and (max-width: 700px) {
  .portfolio {
    max-width: 550px;
    padding: 0 14px;
    margin-bottom: 70px;
  }
  .portfolio__title {
    margin-bottom: 40px;
  }
  .portfolio__text {
    font-size: 20px;
  }
  .portfolio__icon {
    width: 14px;
    height: 14px;
  }
}

@media screen and (max-width: 510px) {
  .portfolio {
    max-width: 100%;
  }
  .portfolio__title {
    font-size: 14px;
  }
  .portfolio__text {
    font-size: 18px;
    letter-spacing: -0.04em;
  }
  .portfolio__icon {
    width: 12px;
    height: 12px;
  }
}
