.header {
  max-width: 1140px;
  margin: 0 auto;
  padding: 18px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 0;
}

.header__logo {
  display: block;
  width: 38px;
  height: 38px;
}

@media screen and (max-width: 950px) {
  .header {
    max-width: 708px;
  }
}

@media screen and (max-width: 700px) {
  .header {
    max-width: 550px;
    padding: 18px 14px;
  }
}

@media screen and (max-width: 510px) {
  .header {
    max-width: 100%;
  }
}
