.about {
  background-color: #202020;
}

.about__container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 110px 0;
}

.about__title {
  margin: 0 0 70px 0;
}

.about__desc {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 110px;
}

.desc {
  max-width: 550px;
}

.desc__title {
  font-size: 20px;
  margin: 0 0 26px 0;
}

.desc__text {
  font-size: 14px;
  margin: 0;
}

.weeks {
  display: flex;
}

.weeks__one {
  flex: 1;
  text-align: center;
}

.weeks__four {
  flex: 4;
  text-align: center;
}

.weeks__back {
  padding: 9px 0;
  background-color: #3ddc84;
  font-size: 14px;
  color: #000;
}

.weeks__front {
  padding: 9px 0;
  background-color: #303030;
  font-size: 14px;
  color: #fff;
}

.weeks__text {
  font-size: 14px;
  color: #8b8b8b;
}
