.footer {
  background-color: #202020;
  color: #fff;
}

.footer__container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 80px 0 20px 0;
}

.footer__title {
  color: #8b8b8b;
  font-size: 13px;
  padding-bottom: 20px;
  margin: 0 0 20px 0;
  border-bottom: 1px solid#424242;
  text-align: center;
}

.footer__desc {
  display: flex;
  justify-content: space-between;
}

.footer__year {
  font-size: 13px;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.footer__item:not(:last-child) {
  margin-right: 20px;
}

.footer__link {
  text-decoration: none;
  font-size: 13px;
  color: #fff;
  transition: opacity 0.3s ease-in-out;
}

.footer__link:hover {
  opacity: 0.5;
}
